fastapi
uvicorn[standard]
jinja2
python-dotenv
python-multipart

# Snowflake DB access via SQLAlchemy
sqlalchemy
snowflake-connector-python
snowflake-sqlalchemy

# Caching
cachetools

# Testing
pytest
requests

# Optional logging support
loguru
